@media screen and (max-width: 800px) {
    .galeria .columna {
        flex: 50%;
        max-width: 50%;
    }

    .botones {
        font-size: 55px;
    }

    .atras {
        left: 5px;
    }

    .adelante {
        right: 5px;
    }

    .slideshow img {
        width: 98%;
    }
}

@media screen and (max-width: 600px) {

    .galeria .columna {
        flex: 100%;
        max-width: 100%;
    }
}